@model List<ARProyectoWeb.Data.Models.Course>

@{
    ViewData["Title"] = "Cursos";
}
<a class="btn btn-primary" href="@Url.Action("Create")">Crear curso</a>

@if (ViewBag.Error != null)
{
    <div class="container">
        <div class="alert alert-primary">
            @ViewBag.Error
        </div>
    </div>
}
<br />
<br />

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.FechaInicio.ToShortDateString()
                        </td>
                        <td>
                            @item.FechaFin.ToShortDateString()
                        </td>
                        <td>
                            @Html.ActionLink("Editar","Edit",new{courseId=item.CourseId},new{@class="btn btn-primary"})
                            @*@Html.ActionLink("Eliminar","Delete",new{courseId=item.CourseId},new{@class="btn btn-danger"})*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <h2>No existen registros</h2>
    </div>
}
