@model ARProyectoWeb.Data.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>Editar usuario</h2>
@if (ViewBag.Error != null)
{
    <div class="container">
        <div class="alert alert-primary">
            @ViewBag.Error
        </div>
    </div>
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.UsuarioId)
    <div>
        <p>Nombrse:</p>
        @Html.TextBoxFor(model => model.Nombres)
    </div>
    <div>
        <p>Apellidos:</p>
        @Html.TextBoxFor(model => model.Apellidos)
    </div>
    <div>
        <p>Correo:</p>
        @Html.TextBoxFor(model => model.Correo)
    </div>
    <input values:"Guardar" type="submit"/>
}



