@model ARProyectoWeb.Business.Models.AddTaskRateViewModel

@{
    ViewData["Title"] = "Calificaciones";
}


@if (ViewBag.Error != null)
{
    <div class="container">
        <div class="alert alert-primary">
            @ViewBag.Error
        </div>
    </div>
}
<br />
<br />

@if (Model.Estudiantes.Count > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Fecha de nacimiento</th>
                    <th>Calificación actual</th>
                    <th>Nueva calificación</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Estudiantes)
                {
                    <tr class="align-middle">
                        <td>
                            @item.Nombres @item.Apellidos
                        </td>
                        <td>
                            @item.Correo
                        </td>
                        <td>
                            @item.FechaNacimiento.ToShortDateString()
                        </td>
                        <td>
                            @item.Calificacion
                        </td>
                        <td>
                            <form method="post" asp-route-UsuarioId=@item.UsuarioId asp-route-CourseId=@Model.CourseId asp-route-TaskId=@Model.TaskId asp-route-TaskId=@item.Calificacion>
                                <div>
                                    @Html.TextBoxFor(model => model.Calificacion, new{@class = "form-control"})
                                </div>
                                <input type="submit" value="Enviar calificación" class="btn btn-primary" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <h2>No existen registros</h2>
    </div>
}


