@model ARProyectoWeb.Business.Models.AddTaskRateStudentViewModel

@{
    ViewData["Title"] = "Calificaciones";
}


@if (ViewBag.Error != null)
{
    <div class="container">
        <div class="alert alert-primary">
            @ViewBag.Error
        </div>
    </div>
}
<br />
<br />
@{
    var userRole = Context.Session.GetString("UserRole");
}
@if (Model.Tareas.Count > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Calificación</th>
                    <th>Mi calificación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tareas)
                {
                    <tr class="align-middle">
                        <td>
                            @item.Titulo
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.Calificacion
                        </td>
                        <td>
                            @item.CalificacionUsuario
                        </td>
                        <td>
                            <form method="post" asp-route-UsuarioId=@Model.UsuarioId asp-route-CourseId=@Model.CourseId asp-route-TaskId=@item.TaskId>
                                <div>
                                    @Html.TextBoxFor(model => model.Calificacion, new{@class = "form-control"})
                                </div>
                                <input type="submit" value="Enviar calificación" class="btn btn-primary" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <h2>No existen registros</h2>
    </div>
}
