@model List<ARProyectoWeb.Data.Models.Task>

@{
    ViewData["Title"] = "Crear tareas";
}
<a class="btn btn-primary" href="@Url.Action("Create")">Crear tarea</a>

@if (ViewBag.Error != null)
{
    <div class="container">
        <div class="alert alert-primary">
            @ViewBag.Error
        </div>
    </div>
}
<br />
<br />

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Usuario creador</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <td>
                            @item.Titulo
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.UsuarioCreador.Correo
                        </td>
                        <td>
                            
                            @if(Context.Session.GetString("UserRole") == "Admin"){
                                @Html.ActionLink("Editar","Edit",new{taskId=item.TaskId},new{@class="btn btn-primary"})
                            }
                            @if (Context.Session.GetString("UserRole") == "Docente")
                            {
                                @Html.ActionLink("Agregar a curso","AddTaskCourse",new{taskId=item.TaskId},new{@class="btn btn-primary"})
                            }
                            @*@Html.ActionLink("Eliminar","Delete",new{taskId=item.TaskId},new{@class="btn btn-danger"})*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <h2>No existen registros</h2>
    </div>
}
